{% assign all_events = site.events | concat: site.lectures %}
{% assign all_events = all_events | concat: site.assignments %}

{% assign events_to_show = "" | split: "" %}
{% for e in all_events %}
    {% unless e.hide_from_announcments %}
        {% assign events_to_show = events_to_show | push: e %}
    {% endunless %}
{% endfor %}

{% assign all_events = events_to_show | concat: site.announcements %}
{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
<h2>Two Truths and a Lie:</h2>
<ul>
    {% for n in all_events_sorted limit:7 %}
    <li class="no-p-margin">
        {% if n.type %}
            {% if n.type == 'lecture' %}
                One of our guest speakers claims to have invented a "Brainwave Translator" that can decipher what squirrels are saying. Unfortunately, the squirrels weren't too cooperative during the testing phase, and all we got were nutty conspiracy theories. We'll keep trying, though!
                <!-- {% include lecture_links.html lecture=n %}
            {% elsif n.type == 'assignment' %}
                As organizers, we have gone to great lengths to ensure an engaging and interactive experience for all participants. In fact, we have developed a mind-reading device that will automatically detect when someone is falling asleep during the lectures and release a swarm of tickling robots to jolt them back into full attention
            {% else%}
                {{ n.description }}
            {% endif %}
        {% else %}
        {{ n.content }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
