---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
  <ul class="responsive-table" style="margin-left: 0;">
    <li class="table-header">
      <div class="col col-1">Session</div>
      <div class="col col-1-2">Time</div>
      <div class="col col-2">Title</div>
      <div class="col col-4">Speaker</div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">08:00-08:50</div>
      <div class="col col-2">MORNING COFFEE & GREETS</div>
      <div class="col col-4"></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Background / Theory</div>
      <div class="col col-1-2">08:50-09:00</div>
      <div class="col col-2">Intro to the workshop</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">Davide Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">John Griffiths</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Background / Theory</div>
      <div class="col col-1-2">09:00-09:45</div>
      <div class="col col-2">Intro to dynamics</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=0ZVdLpMAAAAJ&hl=en">Viktor Jirsa</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Background / Theory</div>
      <div class="col col-1-2">09:45-10:30</div>
      <div class="col col-2">Intro to connectivity</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=v3ZEOeMAAAAJ&hl=en&oi=ao">Joana Cabral</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Background / Theory</div>
      <div class="col col-1-2">10:30-11:15</div>
      <div class="col col-2">Intro to connectome-based neural mass modeling</div>
      <div class="col col-4"><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=Sorenza+Bastiaens&btnG=">Sorenza Bastiaens</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Background / Theory</div>
      <div class="col col-1-2">11:15-12:15</div>
      <div class="col col-2">Hands-on Session 1</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">Davide Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">John Griffiths</a></div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">12:15-13:00</div>
      <div class="col col-2-4">~~~ LUNCH ~~~</div>
      <div class="col col-4"></div>
    </li>

    <li class="table-row">
      <div class="col col-1">Applications 1: Systems/Cognitive</div>
      <div class="col col-1-2">13:00-13:45</div>
      <div class="col col-2">Metastable brain waves</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=hrx691cAAAAJ&hl=en&oi=ao">Michael Breakspear</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Applications 1: Systems/Cognitive</div>
      <div class="col col-1-2">13:45-14:30</div>
      <div class="col col-2">Neuromodulatory systems</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=Uxvu7CsAAAAJ&hl=en&oi=ao">James M Shine</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Applications 1: Systems/Cognitive</div>
      <div class="col col-1-2">14:30-15:15</div>
      <div class="col col-2">Training connectomes to perform memory tasks</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=3_jINP8AAAAJ&hl=en&oi=ao">Laura Suarez</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Applications 1: Systems/Cognitive</div>
      <div class="col col-1-2">15:15-16:00</div>
      <div class="col col-2">Hands-on Session 2</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">Davide Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">John Griffiths</a></div>
    </li>

    <li class="table-row">
      <div class="col col-1"></div>
      <div class="col col-1-2">16:00-16:15</div>
      <div class="col col-2-4">~~ BREAK ~~</div>
      <div class="col col-4"></div>
    </li>


    <li class="table-row">
      <div class="col col-1">Applications 2: Clinical</div>
      <div class="col col-1-2">16:15-17:00</div>
      <div class="col col-2">Epilepsy</div>
      <div class="col col-4"><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=Borana+Dollomaja&btnG=">Borana Dollomaja</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Applications 2: Clinical</div>
      <div class="col col-1-2">17:00-17:45</div>
      <div class="col col-2">Alzheimer’s Disease</div>
      <div class="col col-4"><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0,5&q=leon+stefanovski">Leon Stefanovski</a></div>
    </li>
    <li class="table-row">
      <div class="col col-1">Applications 2: Clinical</div>
      <div class="col col-1-2">17:45-18:30</div>
      <div class="col col-2">Hands-on Session 3</div>
      <div class="col col-4"><a href="https://scholar.google.com/citations?user=I-BACCgAAAAJ&hl=en&oi=ao">Davide Momi</a>/<a href="https://scholar.google.com/citations?user=xwkt6aQAAAAJ&hl=en&oi=ao">John Griffiths</a></div>
    </li>




    </ul>
</div>
<style>
  .responsive-table {
    background-color: #F9EFCC;
  }
</style>

<style>
  .responsive-table .table-row {
    background-color: #F6ECCE;
  }
</style>
